/*$breakpoints : (
 "xl" :1200px,
 "lg" : 960px,
 "md" : 720px,
 "sm":480px,
 "xs ":360px,
);*/
$xs: 0px;
$sm: 480px;
$md: 720px;
$lg: 960px;
$xl: 1200px;

@mixin xl {
  @media screen and (min-width: $xl) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: $lg) and (max-width: $xl) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: $md) and (max-width: $lg) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: $sm) and (max-width: $md) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: $sm) {
    @content;
  }
}
